.btn-style {
    width: 100%;
    border-radius: 5px;
}

.btn-style.btn-style1 {
    margin-top: 10%;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(252, 180, 73);
}

.container img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-bottom: 1.2%;
}

.col-5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container {
    display: flex;
    justify-content: space-between;

}